<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.psw.youwenbida.provider.mapper.AnswerMapper">
  <resultMap id="BaseResultMap" type="cn.psw.youwenbida.api.model.Answer">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="ahdz" jdbcType="VARCHAR" property="ahdz" />
    <result column="ahd" jdbcType="VARCHAR" property="ahd" />
    <result column="ahdrq" jdbcType="DATE" property="ahdrq" />
    <result column="ahdwt" jdbcType="INTEGER" property="ahdwt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from answer
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.psw.youwenbida.api.model.Answer">
    insert into answer (aid, ahdz, ahd, 
     ahdrq, ahdwt
      )
    values (#{aid,jdbcType=INTEGER}, #{ahdz,jdbcType=VARCHAR}, #{ahd,jdbcType=VARCHAR},
      #{ahdrq,jdbcType=DATE}, #{ahdwt,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Answer">
    update answer
    set ahdz = #{ahdz,jdbcType=VARCHAR},
      ahd = #{ahd,jdbcType=VARCHAR},
      ahdrq = #{ahdrq,jdbcType=DATE},
      ahdwt = #{ahdwt,jdbcType=INTEGER}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select aid, ahdz, ahd, ahdrq, ahdwt
    from answer
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <select id="selectListByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Answer" resultMap="BaseResultMap">
    select aid, ahdz, ahd, ahdrq, ahdwt
    from answer
    <where>
      <if test="aid != null">
        and aid = #{aid,jdbcType=INTEGER}
      </if>
      <if test="ahdwt !=null">
        and ahdwt = #{ahdwt,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="selectCountByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Answer" resultType="java.lang.Integer">
    select count(1)
    from answer
    <where>
      <if test="aid != null">
        and aid = #{aid,jdbcType=INTEGER}
      </if>
      <if test="ahdwt !=null">
        and ahdwt = #{ahdwt,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select aid, ahdz, ahd, ahdrq, ahdwt
    from answer
  </select>
</mapper>