<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.psw.youwenbida.provider.mapper.AnswerMapper">
  <resultMap id="BaseResultMap" type="cn.psw.youwenbida.api.model.Answer">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="ahdz" jdbcType="VARCHAR" property="ahdz" />
    <result column="ahd" jdbcType="VARCHAR" property="ahd" />
    <result column="ahdrq" jdbcType="DATE" property="ahdrq" />
    <result column="ahdwt" jdbcType="INTEGER" property="ahdwt" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="yzhd" jdbcType="VARCHAR" property="yzhd" />
    <result column="nm" jdbcType="VARCHAR" property="nm" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from answer
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.psw.youwenbida.api.model.Answer" useGeneratedKeys="true" keyProperty="aid">
    insert into answer (ahdz, ahd, ahdwt
    <if test="nm!=null">,nm</if>
    )
    values (#{ahdz,jdbcType=VARCHAR}, #{ahd,jdbcType=VARCHAR},#{ahdwt,jdbcType=INTEGER}
    <if test="nm!=null">,#{nm,jdbcType=VARCHAR}</if>
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Answer">
    update answer
      <set>
        <if test="ahdz!=null">ahdz = #{ahdz,jdbcType=VARCHAR},</if>
        <if test="ahd!=null">ahd = #{ahd,jdbcType=VARCHAR},</if>
        <if test="ahdrq!=null">ahdrq = #{ahdrq,jdbcType=DATE},</if>
        <if test="ahdwt!=null">ahdwt = #{ahdwt,jdbcType=INTEGER}</if>
        <if test="score!=null">score = #{score,jdbcType=DOUBLE}</if>
        <if test="yzhd!=null">yzhd = #{yzhd,jdbcType=VARCHAR},</if>
        <if test="nm!=null">nm = #{nm,jdbcType=VARCHAR},</if>
      </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select aid, ahdz, ahd, ahdrq, ahdwt, score, yzhd, nm
    from answer
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <select id="selectListByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Answer" resultMap="BaseResultMap">
    select aid, ahdz, ahd, ahdrq, ahdwt, score, yzhd, nm
    from answer
    <where>
      <if test="aid != null">
        and aid = #{aid,jdbcType=INTEGER}
      </if>
      <if test="ahdwt != null">
        and ahdwt = #{ahdwt,jdbcType=INTEGER}
      </if>
      <if test="ahdz != null">
        and ahdz = #{ahdz,jdbcType=VARCHAR}
      </if>
    </where>
    order by score desc
  </select>
  <select id="getProAns" parameterType="java.util.Map" resultMap="BaseResultMap">
    select aid, ahdz, ahd, ahdrq, ahdwt, score, yzhd, nm
    from answer
    where ahdwt = #{pid} and yzhd = 'f'
    order by score desc
  </select>
  <select id="getProYzAns" parameterType="java.util.Map" resultMap="BaseResultMap">
    select aid, ahdz, ahd, ahdrq, ahdwt, score, yzhd, nm
    from answer
    where ahdwt = #{pid} and yzhd = 't'
    order by score desc
  </select>
  <select id="getTopicAnsByOpDate" parameterType="java.util.Map" resultMap="BaseResultMap">
    select ans.* from answer ans inner join (select obo,MAX(odate) date from operation where obo in (select aid from answer where ahdwt in (select pid from problem where pbq like concat('%',#{bq},'%'))) and (olx = '1' or olx = '2' or olx = '6') group by obo order by date desc) op on ans.aid = op.obo
  </select>
  <select id="getTopicAnsByAnsDate" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from answer where ahdwt in (select pid from problem where pbq like concat('%',#{bq},'%')) and aid not in(select obo from operation where obo in (select aid from answer where ahdwt in (select pid from problem where pbq like concat('%',#{bq},'%'))) and (olx = '1' or olx = '2' or olx = '6') group by obo)
  </select>
  <select id="getTopicAnsByAnsScore" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from answer where ahdwt in (select pid from problem where pbq like concat('%',#{bq},'%')) order by score desc
  </select>
  <select id="selectCountByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Answer" resultType="java.lang.Integer">
    select count(1)
    from answer
    <where>
      <if test="aid != null">
        and aid = #{aid,jdbcType=INTEGER}
      </if>
      <if test="ahdwt !=null">
        and ahdwt = #{ahdwt,jdbcType=INTEGER}
      </if>
      <if test="ahdz != null">
          and ahdz = #{ahdz,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select aid, ahdz, ahd, ahdrq, ahdwt, score, yzhd, nm
    from answer
  </select>
  <select id="searchProAns" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      select cbpl from comment where cbpl in (select aid from answer where ahdwt = #{0}) and cpllx = '2' group by cbpl order by count(cbpl) desc limit 1
  </select>
</mapper>