<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.psw.youwenbida.provider.mapper.OperationMapper">
  <resultMap id="BaseResultMap" type="cn.psw.youwenbida.api.model.Operation">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="ooz" jdbcType="VARCHAR" property="ooz" />
    <result column="obo" jdbcType="VARCHAR" property="obo" />
    <result column="olx" jdbcType="VARCHAR" property="olx" />
    <result column="odate" jdbcType="TIMESTAMP" property="odate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Operation">
    delete from operation
    <where>
      <if test="oid != null">
        and oid = #{oid,jdbcType=INTEGER}
      </if>
      <if test="ooz != null">
        and ooz = #{ooz,jdbcType=VARCHAR}
      </if>
      <if test="obo != null">
        and obo = #{obo,jdbcType=VARCHAR}
      </if>
      <if test="olx != null">
        and olx = #{olx,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
  <insert id="insert" parameterType="cn.psw.youwenbida.api.model.Operation" useGeneratedKeys="true" keyProperty="oid">
    insert into operation (oid, ooz, obo, 
      olx)
    values (#{oid,jdbcType=INTEGER}, #{ooz,jdbcType=VARCHAR}, #{obo,jdbcType=VARCHAR},
      #{olx,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Operation">
    update operation
    set ooz = #{ooz,jdbcType=VARCHAR},
      obo = #{obo,jdbcType=VARCHAR},
      olx = #{olx,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.Operation" resultMap="BaseResultMap">
    select oid, ooz, obo, olx, odate
    from operation
    <where>
      <if test="oid!=null">
        and oid = #{oid,jdbcType=INTEGER}
      </if>
      <if test="ooz!=null">
        and ooz = #{ooz,jdbcType=VARCHAR}
      </if>
      <if test="obo!=null">
        and obo = #{obo,jdbcType=VARCHAR}
      </if>
      <if test="olx!=null">
        and olx = #{olx,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectList" parameterType="cn.psw.youwenbida.api.model.Operation" resultMap="BaseResultMap">
    select oid, ooz, obo, olx, odate
    from operation
    <where>
      <if test="oid!=null">
        and oid = #{oid,jdbcType=INTEGER}
      </if>
      <if test="ooz!=null">
        and ooz = #{ooz,jdbcType=VARCHAR}
      </if>
      <if test="obo!=null">
        and obo = #{obo,jdbcType=VARCHAR}
      </if>
      <if test="olx!=null">
        and olx = #{olx,jdbcType=VARCHAR}
      </if>
    </where>
    order by odate desc
  </select>
  <select id="getUserOp" parameterType="cn.psw.youwenbida.api.model.Operation" resultMap="BaseResultMap">
    select oid, ooz, obo, olx, odate
    from operation
    <where>
      <if test="oid!=null">
        and oid = #{oid,jdbcType=INTEGER}
      </if>
      <if test="ooz!=null">
        and ooz = #{ooz,jdbcType=VARCHAR}
      </if>
      <if test="obo!=null">
        and obo = #{obo,jdbcType=VARCHAR}
      </if>
      <if test="olx!=null">
        and olx in ${olx}
      </if>
    </where>
    order by odate desc
  </select>
  <select id="selectCount" parameterType="cn.psw.youwenbida.api.model.Operation" resultType="java.lang.Integer">
    select count(1)
    from operation
    <where>
      <if test="oid!=null">
        and oid = #{oid,jdbcType=INTEGER}
      </if>
      <if test="ooz!=null">
        and ooz = #{ooz,jdbcType=VARCHAR}
      </if>
      <if test="obo!=null">
        and obo = #{obo,jdbcType=VARCHAR}
      </if>
      <if test="olx!=null">
        and olx = #{olx,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select oid, ooz, obo, olx, odate
    from operation
  </select>
  <select id="getAnsDzAndCai" parameterType="java.lang.String" resultType="java.util.HashMap">
    select dz.dzsl,cai.caisl from (select count(1) dzsl from operation where obo = #{0} and olx = '1') dz,(select count(1) caisl from operation where obo = #{0} and olx = '6') cai
  </select>
  <select id="getHdZanByDate" parameterType="java.lang.String" resultType="java.util.Map">
    select obo,count(1) as count from operation where DATE_SUB(CURDATE(), INTERVAL ${date} DAY) &lt;=odate and olx='1' group by obo order by count desc
  </select>
  <select id="getHdCaiByDate" parameterType="java.lang.String" resultType="java.util.Map">
    select obo,count(1) as count from operation where DATE_SUB(CURDATE(), INTERVAL ${date} DAY) &lt;=odate and olx='2' group by obo order by count desc
  </select>
  <select id="getHdScByDate" parameterType="java.lang.String" resultType="java.util.Map">
    select obo,count(1) as count from operation where DATE_SUB(CURDATE(), INTERVAL ${date} DAY) &lt;=odate and olx='6' group by obo order by count desc
  </select>
  <select id="getProGzByDate" parameterType="java.lang.String" resultType="java.util.Map">
    select obo,count(1) as count from operation where DATE_SUB(CURDATE(), INTERVAL ${date} DAY) &lt;=odate and olx='3' group by obo order by count desc
  </select>

</mapper>