<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.psw.youwenbida.provider.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.psw.youwenbida.api.model.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="gxqm" jdbcType="VARCHAR" property="gxqm" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="gs" jdbcType="VARCHAR" property="gs" />
    <result column=" education" jdbcType="VARCHAR" property=" education" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.psw.youwenbida.api.model.User">
    insert into user (id, name, password, 
      gxqm, sex, location, 
      industry, gs, education,
      email, introduction, img
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{gxqm,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{gs,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.psw.youwenbida.api.model.User">
    update user
      <set>
        <if test="name!=null">
          name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="gxqm!=null">
          gxqm = #{gxqm,jdbcType=VARCHAR},
        </if>
        <if test="sex!=null">
          sex = #{sex,jdbcType=VARCHAR},
        </if>
        <if test="location!=null">
          location = #{location,jdbcType=VARCHAR},
        </if>
        <if test="industry!=null">
          industry = #{industry,jdbcType=VARCHAR},
        </if>
        <if test="gs!=null">
          gs = #{gs,jdbcType=VARCHAR},
        </if>
        <if test="education!=null">
          education = #{education,jdbcType=VARCHAR},
        </if>
        <if test="introduction!=null">
          introduction = #{introduction,jdbcType=VARCHAR},
        </if>
        <if test="img!=null">
          img = #{img,jdbcType=VARCHAR},
        </if>
      </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, password, gxqm, sex, location, industry, gs, education, email,
    introduction, img
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, gxqm, sex, location, industry, gs, education, email,
    introduction, img
    from user LIMIT 5
  </select>
  <select id="validateByColumn" parameterType="cn.psw.youwenbida.api.model.User" resultMap="BaseResultMap">
    select id,name
    from user
    <where>
      <if test="name!=null">
          and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="password!=null">
          and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="email!=null">
          and email = #{email,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectRand" resultMap="BaseResultMap">
    SELECT * FROM user WHERE id >= ((SELECT MAX(id) FROM user)-(SELECT MIN(id) FROM user)) * RAND() + (SELECT MIN(id) FROM user)  LIMIT 5
  </select>
</mapper>